.sidebar-wrapper {
  /* min-height: 100vh; */
  margin-left: -15rem;
  transition: margin .25s ease-out;
  box-shadow: 0 0.2rem 0.4rem 0 rgba(0,0,0,0.2);
  width: 15rem;
}
  
  
.sidebar-wrapper.toggled {
  margin-left: 0;
}

// Medium devices (tablets, 768px and up)
// we want to always display it
@media (min-width: 768px) {
  .sidebar-wrapper {
    margin-left: 0;
  }


  .sidebar-wrapper.toggled {
    margin-left: 0rem;
  }
}
  


// .user-right-arrow {
//   font-size: x-large;
//   margin-left: auto;
//   transform: scale(0.5,1);
// }

// // dont show pointer on active item
// .list-group-item.active {
//   cursor: auto;
// }
