

<button class="d-none" (click)="toggleLoading()">Click me</button>

<div class="card" [appLoadingBy]="loading$" id="login-user-card">
    <div class="card-header">
        SIGN IN
    </div>
    <div class="card-body d-flex flex-column align-items-center">

        <!-- <button class="btn btn-outline-primary btn-lg d-flex align-items-center justify-content-center w-100" (click)="googleLogin()">
            <img src="assets/google-logo-512px.png" width="20px" alt="G-logo" class="mr-2">
            Login with Google
        </button>

        <h5 class="text-primary">or</h5> -->

        <button class="btn btn-outline-primary btn-lg d-flex align-items-center justify-content-center w-100" (click)="facebookLogin()">
            <img src="assets/facebook-logo-900px.png" width="20px" alt="F-logo"
                 class="mr-2">
            Login with Facebook
        </button>
    </div>
</div>
