
<div class="loading-container">
  <img src='assets/Loading-Eclipse-1.2s-200px.svg' [ngStyle]="{'max-width': '80%', 'max-height': '80%'}">
</div>

<!-- 
createLoadingElement() {
  this.nativeEle.style.position = 'relative';
  
  const loadingEle = document.createElement("div");
  loadingEle.style.display = "none";
  loadingEle.className = "loading-container";


  const spinDiv = document.createElement("div");
  spinDiv.className = "spinning-square";
  const size = Math.min(this.nativeEle.offsetWidth, this.nativeEle.offsetHeight);
  spinDiv.style.width = `${size}px`;
  spinDiv.style.height = `${size}px`;

  const spinning = document.createElement("div");
  spinning.className = "spinning-loader";
  // spinning.style.width = `${size}px`;
  // spinning.style.height = `${size}px`;
  
  spinDiv.appendChild(spinning);
  loadingEle.appendChild(spinDiv);
  this.nativeEle.appendChild(loadingEle);

  return loadingEle;
}

showLoading() {
  this.loadingEle.style.display = "flex";
  if (this.tagName == "button") {
    this.savedStates['disabled'] = this.nativeEle.disabled;
    this.nativeEle.disabled = true;
  }
} -->