
/* bigger text for badge */
.badge.badge-pill {
    font-size: 1em;
}

/* fontawesome re-style */
.more-less {
    margin-left: auto;  /* to the right of fex */
    font-size: 1.5rem;
    transition: all 0.2s ease-out; /* rotate transition */
}

/* for button group, more round corner */
.btn-round-left {
    border-top-left-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
}
.btn-round-right {
    border-top-right-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
}

.target-text.ONGOING, .target-text.PENDING {
    font-style: normal;
    color: var(--dark);
}
.target-text.DONE, .target-text.SUSPENDED {
    font-style: italic;
    color: var(--gray);
}
.target-text.DISCARDED {
    font-style: italic;
    text-decoration: line-through;
    color: var(--gray);
}


/* remove all margin inside detail status elements */
.report-status-detail * {
    margin: 0 auto;
}

.status-items hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), var(--gray), rgba(0, 0, 0, 0));
    margin: 0.25em auto;
}


.status-icon {
    font-size: 1.4em;
    margin-right: 0.5em;
}

.dropdown-info-only p {
    margin: 0 auto;
}

button.disabled {
    cursor: auto;
}