
<div class="fixed-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-toggler-icon navbar-toggler-left mr-4 d-md-none" (click)="toggleSidebar()"></a>
      <a class="navbar-brand" [routerLink]="['/report']">REPORTER</a>

      <div class="navbar-nav">
        <a *ngIf="user" class="nav-item nav-link" [routerLink]="['/report/sum']"
          routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Summary</a>
      </div>

      <div class="navbar-nav flex-row ml-auto" *ngIf="ready">

        <ng-template [ngIf]="user">
          <a *ngIf="notifPerm=='default'" class="nav-item nav-link fas fa-bell-slash text-warning"
            [routerLink]="" (click)="enableNotif()" [style.font-size]="'1.5rem'"
            data-toggle="tooltip" title="Enable receive notification" data-placement="bottom"></a>

          <a *ngIf="notifPerm=='denied'" class="nav-item nav-link fas fa-bell-slash text-danger"
            (click)="warnNotifDenied()" [style.font-size]="'1.5rem'"
            data-toggle="tooltip" data-placement="bottom"
            title="Notification had been Denied. Click icon on the left of address-bar to enable it"></a>

          <a class="nav-item nav-link fas fa-plus"
            routerLink=""
            (click)="onNewTask()" [style.font-size]="'1.5rem'"
            data-toggle="tooltip" title="Add new Task" data-placement="bottom"></a>
        </ng-template>
      </div>
    </div>


  </nav>
  <div *ngIf="navigating" class="progress" style="height: 5px;">
      <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar"
        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
    </div>
</div>
