a {
    cursor: pointer;
}

.message {
    box-shadow: 0 2px  0 rgba(0,0,0,0.2);
}

.message.flash {
    position: fixed;
    /* bottom: 0; */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999999;
}

/* medium device and up */
@media (min-width: 768px) {
    .message.flash {
        left: 10%;
        width: 80%;
    }
}
/* larger and up */
@media (min-width: 992px) { 
    .message.flash {
        left: 20%;
        width: 60%;
    }
}