
@import './bootstrap-restyle.scss';

body {
  /* light font */
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;

  /* preserve for top navbar */
  margin-top: 5rem !important;
}



.text-system {
  color: var(--gray);
  font-style: italic;
  font-weight: 300;
  
}

.user-avatar {
  /* fill the container, preserving aspect ratio, and cropping to fit */
  background-size: cover;
  /* center the image vertically and horizontally */
  background-position: top center;
  /* round the edges to a circle with border radius 1/2 container size */
  border-radius: 50%;
  /* make a square container */
  width: 2rem;
  height: 2rem;
  display: inline-block;
}

.user-avatar.active-user {
  /* make a square container */
  width: 4rem;
  height: 4rem;
}

/* re style card to have shadow & hover effect */
.card-shadow {
  /* margin for shadow under */
  margin-bottom: 1rem;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 0.1rem 0.2rem 0 rgba(0,0,0,0.2);
  /* transition: 0.3s; */
}

/* On mouse-over, add a deeper shadow */
.card-shadow:hover {
  box-shadow: 0 0.2rem 0.4rem 0 rgba(0,0,0,0.2);
}

/* restyle - all card-header get pointer cursor */
.card-header {
  cursor: pointer;
}
